@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&family=Six+Caps&display=swap');
@import "tailwindcss";

@theme {
  --font-SixCaps: "Six Caps", sans-serif;
  --font-Shrikhand: "Shrikhand", serif;
  --font-Poppins: "Poppins", sans-serif;

  /* Poppins weights */
  --poppins-thin: 100;
  --poppins-extralight: 200;
  --poppins-light: 300;
  --poppins-regular: 400;
  --poppins-medium: 500;
  --poppins-semibold: 600;
  --poppins-bold: 700;
  --poppins-extrabold: 800;
  --poppins-black: 900;

  /* Poppins italic weights */
  --poppins-thin-italic: 100 italic;
  --poppins-extralight-italic: 200 italic;
  --poppins-light-italic: 300 italic;
  --poppins-regular-italic: 400 italic;
  --poppins-medium-italic: 500 italic;
  --poppins-semibold-italic: 600 italic;
  --poppins-bold-italic: 700 italic;
  --poppins-extrabold-italic: 800 italic;
  --poppins-black-italic: 900 italic;
}



@keyframes reveal {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@layer utilities {
  .animate-reveal {
    animation: reveal 0.8s ease-out forwards;
  }
}

@keyframes reveal-top {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@layer utilities {
  .animate-reveal-top {
    animation: reveal-top 0.5s ease-out forwards;
  }
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}